body {
  background-image: url('gray.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

font-family: "Gill Sans", sans-serif;

.center {
border: 5px solid #FFFF00;
display: flex;
justify-content: center;
}
